<h1>All Surgeries</h1>

<% @surgeries.each do |surgery| %>
  <section id="surgery-<%= surgery.id %>">
    <h2 id="show-surgery-<%= surgery.id %>"><%= link_to surgery.title, surgery_path(surgery) %></h2>
    <h4>Attending Doctors:</h4>
    <ul>
    <% surgery.doctors.each do |doctor| %>
      <li><%= doctor.name %></li>
    <% end %>
    </ul>
  </section>
<% end %>