<h1>All Surgeries</h1>

<% @surgeries.each do |surgery| %>
  <section id="surgery-<%= surgery.id %>">
    <h2><%= link_to surgery.title, surgery_path(surgery), id: "show-surgery-#{surgery.id}" %></h2>
    <h4>Attending Doctors:</h4>
    <%= render partial: 'doctor_list', locals: { surgery: surgery } %>
  </section>
<% end %>